<h2>Комунальні платежі</h2>
<div class="container-fluid utility-payments-container">
  <div class="card" style="width: 18rem;">
    <img src="../../assets/2342342.png" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Власник</h5>
      <p class="card-text">Кононов Денис Анатолійович</p>
      <a href="tel:+380677727447" class="contact-link">+380677727447</a>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Документи</a>
      <a href="#" class="card-link">Another link</a>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Документи</a>
      <a href="#" class="card-link">Another link</a>
    </div>
  </div>

  <div class="card" style="width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">Інформація про оселю</h5>
      <p class="card-text">Адреса</p>
      <p class="card-text">м.Київ, вулиця Чорнобильська 19, <br> квартира 29</p>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item"><a href="#" class="card-link">Перегляд послуг</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Замовлення послуг</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Оплата послуг</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Оплата послуг</a></li>
      <li class="list-group-item"><a href="#" class="card-link">Оплата послуг</a></li>
    </ul>
  </div>

  <div class="card" style="width: 18rem;">
    <img src="../../assets/PXL_20210618_180127536.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Арендатор</h5>
      <p class="card-text">Селіверстов Віталій Сергійович</p>
      <a href="tel:+380677727447" class="contact-link">+380677727447</a>
    </div>
    <div class="card-body">
      <a href="#" class="card-link">Документи</a>
      <a href="#" class="card-link">Надати доступ</a>
    </div>
  </div>

</div>
